/Script
/DerivedDataCache
/Intermediate
/Output
/Saved
/.idea
/.vs
/Binaries
/Build
/Plugins/ProceduralTerrainGenerator/Intermediate
/Plugins/ProceduralTerrainGenerator/Binaries
/*.sln
*.xcworkspace
/Plugins/Developer/RiderLink
/Plugins/WorldScape/Binaries
/Plugins/WorldScape/Intermediate
